<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
				<h1 align="center">DC204</h1>
				<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
		        <li><a href="/about">About</a></li>
	        	<li><a href="/contact">Contact</a></li>
	        	<li><a href="/resources">Resources</a></li>
	    		</ul>
				</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    	<ul>
	        	<li><a href="https://github.com/dc204">github.com/dc204</a></li>
				</ul>
			</footer>
		</body>
	</html>
